*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/bg-intro-desktop.png');
    background-color: hsl(0, 100%, 74%);
    position: relative;
    min-height: 730px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1116px;
    width: 90%;
    flex-wrap: wrap;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width:300px;
}

#containerFirst{
    color:snow;
    padding: 1em;
}

#containerFirst h1{
    font-size: 3em;
    font-weight: 700;
}

#containerFirst p{
    font-weight: 400;
}

#containerSecond h2{
    background-color: hsl(248, 32%, 49%);
    width: 100%;
    border-radius: 0.5em;
    color: snow;
    text-align: center;
    padding: 1.7em 0;
    font-size: 0.8em;
    font-weight: 400;
    box-shadow: teal;
    margin-bottom: 2em;
    box-shadow: 0px 6px 1px 1px rgba(0,0,0,0.2);
}

#containerSecond form{
    width: 100%;
    background-color: snow;
    padding: 2em;
    border-radius: 0.8em;
    box-shadow: 0px 6px 1px 1px rgba(0,0,0,0.2);
}

#containerSecond input{
    width: 100%;
    height: 4em;
    padding-inline-start: 2em;
    border-radius: 0.5em;
    border: 1px solid hsl(249, 28%, 86%);
    color: hsl(249, 13%, 70%);
    font-weight: bold;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}

#containerSecond p{
    width: 100%;
    font-size: 0.7em;
    font-weight: lighter;
    text-align: center;
    padding: 1em 0;
}

#containerSecond form input:last-of-type{
    background-color: hsl(154, 59%, 51%);
    color: snow;
    border: none;
    text-transform: uppercase;
    font-weight: normal;
    cursor: pointer;
}

#containerSecond p a{
    color: red;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

footer{
    position: absolute;
    bottom: 20px; 
}

.errval{
    visibility:hidden;
    font-weight: 400;
    font-style: italic;
    color: red;
    font-size: 0.75em;
    text-align: end;
    margin: 0.8em 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }


@media screen and (max-width:666px){
   
    body{
        width:100%;
        justify-content: flex-start;
        padding-bottom: 3.5em;
        height: auto;
        min-width: 350px;
        overflow: auto;
    }

    div{
        width:95%;
    }

    #containerFirst{
        padding: 4em 1em;
    }

    #containerFirst h1{
        text-align: center;
        font-size:2em ;
    }

    #containerFirst p{
        text-align: center;
    }

    #containerSecond h2{
        padding: 1.5em 2em;
    }

    footer{
        position:initial;
        margin: 1em;
    }




}

